<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="SparshReviewReminderLogGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">
                    Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter
                </item>
                <item name="fulltext" xsi:type="object">
                    Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Sparsh\ReviewReminder\Model\ResourceModel\ReviewReminderLog\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">sparsh_review_reminder_log</argument>
            <argument name="resourceModel" xsi:type="string">Sparsh\ReviewReminder\Model\ResourceModel\ReviewReminderLog
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sparsh_review_reminder_log_listing_data_source" xsi:type="string">
                    Sparsh\ReviewReminder\Model\ResourceModel\ReviewReminderLog\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
</config>
