<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="reviewreminder_order_place_after"
                  instance="Sparsh\ReviewReminder\Observer\ReviewReminderLog"/>
    </event>
    <event name="multishipping_checkout_controller_success_action">
        <observer name="multishipping_reviewreminder_order_place_after"
                  instance="Sparsh\ReviewReminder\Observer\ReviewReminderLog"/>
    </event>
</config>